#game {
	width:640px;
	height:480px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}

/* TANK ============================================== */

.tank {
	position:absolute;
	width:32px;
	height:32px;
	display:block;
	/*negative margin to put axis in the middle */
	margin-top:-16px; /* height / 2 */
	margin-left:-16px; /* width / 2 */
}

.tankBody {	
	background-image:url(/client/images/tank.jpg);
	width:32px;
	height:32px;
}

.lifeBar {
    border: 1px solid #888;
    display: block;
    height: 3px;
    left: -20px;
    position: absolute;
    top: -10px;
    width: 30px;
}

.lifeBar div {
    background-color: lightgreen;
    display: block;
    height: 100%;
    position: absolute;
}

.tank[data-life='10'] .lifeBar div { width: 100%; }
.tank[data-life='9'] .lifeBar div { width: 90%; }
.tank[data-life='8'] .lifeBar div { width: 80%; }
.tank[data-life='7'] .lifeBar div { width: 70%; }
.tank[data-life='6'] .lifeBar div { width: 60%; }
.tank[data-life='5'] .lifeBar div { width: 50%; }
.tank[data-life='4'] .lifeBar div { width: 40%; }
.tank[data-life='3'] .lifeBar div { width: 30%; }
.tank[data-life='2'] .lifeBar div { width: 20%; }
.tank[data-life='1'] .lifeBar div { width: 10%; }

/* BULLET ============================================== */
	
.bullet {
	position:absolute;
	width:3px;
	height:3px;
	background-color:black;
	display:block;
	/*negative margin to put axis in the middle */
	margin-top:-1.5px; /* height / 2 */
	margin-left:-1.5px; /* width / 2 */
}
