#game {
	width:600px;
	height:400px;
	position:relative;
	border:solid 1px;	
}

.tank {
	position:absolute;
	width:32px;
	height:32px;
	background-image:url(/client/images/tank.jpg);
	display:block;
	/*negative margin to put central point in the middle */
	margin-top:-16px;
	margin-left:-16px;
}

.bullet {
	position:absolute;
	width:4px;
	height:4px;
	background-color:black;
	display:block;
	/*negative margin to put central point in the middle */
	margin-top:-2px;
	margin-left:-2px;
}
