#game {
	width:640px;
	height:480px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}

/* TANK ============================================== */

.tank {
	position:absolute;
	width:32px;
	height:32px;
	display:block;
	font-family: courier;
	font-size: 10px;	
	/*negative margin to put axis in the middle */
	margin-top:-16px; /* height / 2 */
	margin-left:-16px; /* width / 2 */
}

.tankBody {	
	background-image:url(/images/tank_01.png);
	width:34px;
	height:33px;
}

.kills {	
    display: block;
    height: 3px;
    left: -20px;
    position: absolute;
    top: -20px;
}

.lifeBar {
    border: 1px solid #888;
    display: block;
    height: 3px;
    left: -20px;
    position: absolute;
    top: -10px;
    width: 30px;
}

.lifeBar div {
    background-color: lightgreen;
    display: block;
    height: 100%;
    position: absolute;
}

.tank[data-life='10'] .lifeBar div { width: 100%; }
.tank[data-life='9'] .lifeBar div { width: 90%; }
.tank[data-life='8'] .lifeBar div { width: 80%; }
.tank[data-life='7'] .lifeBar div { width: 70%; }
.tank[data-life='6'] .lifeBar div { width: 60%; }
.tank[data-life='5'] .lifeBar div { width: 50%; }
.tank[data-life='4'] .lifeBar div { width: 40%; }
.tank[data-life='3'] .lifeBar div { width: 30%; }
.tank[data-life='2'] .lifeBar div { width: 20%; }
.tank[data-life='1'] .lifeBar div { width: 10%; }

/* BULLET ============================================== */
	
.bullet {
	position:absolute;
	width:3px;
	height:3px;
	background-color:black;
	display:block;
	/*negative margin to put axis in the middle */
	margin-top:-1.5px; /* height / 2 */
	margin-left:-1.5px; /* width / 2 */
}

/* EXPLOSION ============================================== */

.explosion {
	position:absolute;
	background-image:url(/images/explosions.png);
	margin-top:-13px;
	margin-left:-13px;
	width:26px;
	height:26px;
}

.explosion[data-frame='20'] { background-position:20px 0;}
.explosion[data-frame='18'] { background-position:-29px 0;}
.explosion[data-frame='16'] { background-position:-57px 0;}
.explosion[data-frame='14'] { background-position:-83px 0;}
.explosion[data-frame='12'] { background-position:-117px 0;}
.explosion[data-frame='10'] { background-position:-151px 0;}
.explosion[data-frame='8'] { background-position:-185px 0;}
.explosion[data-frame='6'] { background-position:-218px 0;}
.explosion[data-frame='4'] { background-position:-214px 0;}
.explosion[data-frame='2'] { background-position:-236px 0;}

/* BARRIER ============================================== */

.barrier {
	position:absolute;
	width:50px;
	height:50px;
	border:solid 1px #777;	
	background-color:#ccc;
	display:block;
	/*negative margin to put axis in the middle */
	margin-top:-25px; /* height / 2 */
	margin-left:-25px; /* width / 2 */
}

