/* GENERAL ============================================== */

@font-face {
  font-family: 'Major Shift';
  src: url('major_shift.ttf');
}

html { 
  background: url(/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color:#fff;
	font-family: "courier new";
	font-size: 12px;
}

h1 {
	width:240px;
	margin: 40px auto -70px;
	font-family:"Major Shift";
	font-size:40px;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

h3 {
	font-family:"Major Shift";
	font-size:20px;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

h4 {
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#f0ff00;
	font-style: italic;	
	margin:6px;
}

hr {
	background-color:#130e08;	
	border-color:#524335;
	border-style: solid none none;
    border-width: 1px medium medium;
    margin:10px 0;
}

button {
	font-family: impact;
	color: #000;
	background-color:#f0ff00;
	border:solid 1px #faffa3;
	padding:5px 30px;
	border-radius:12px;
	background:url(/images/button_bg.jpg);
}

button:hover {
	background:url(/images/button_hover_bg.jpg);
}

#wrapper {
	width:640px;
	height:480px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	padding:20px;
	background: url(/images/frame.png) no-repeat;
}

#game {
	display:block;
	height:480px;
	width:640px;
	background-color:#eee;
	position:relative;
	background: url(/images/game_bg.jpg) no-repeat;
}

section {
	padding: 10px;
}

article {
	width: 140px;
	float:left;
	background-color:#392f24;
	border:#100b06 solid 1px;
	padding:10px 5px 5px;
	margin-left:3px;
	text-align:center;
}

dl {
	text-align:right;
	line-height:1.5em;
}

dt {
	float:left;
	width:100px;
	text-align:left;
}

dd {
	padding:0;	
}

/* ROOM SELECTION ============================================== */

.controls {
	width:605px;	

}

.controls .tankPreview {
	float:left;
	margin:5px;	
}

.controls .keys {
	float:left;
	margin:5px;	
}

/* TANK SELECTION ============================================== */

.tankPreview {
	width: 130px;
	height:113px;
	position:relative;
	background:url(/images/tank_bg.jpg);
	margin: 0 auto;
}

.tankPreview .tank {
	position:absolute;
	left:50px;
	top:40px;
}
	
.tankPreview .tankBody {
	transform:rotate(40deg);
	-ms-transform:rotate(40deg);
	-moz-transform:rotate(40deg);
	-webkit-transform:rotate(40deg);
}

.queued .tankOption button {
	display:none;	
}

/* TANK ============================================== */

.tank {
	color:#000;
	position:absolute;
	width:34px;
	height:34px;
	display:block;
	font-family: courier;
	font-size: 10px;
	z-index:2;
}

.flare {
	display:none;
}
	
.flare {
	background-image:url(/images/flare.png);
	display:block;
    width: 6px;
	height: 7px;
    position: absolute;
    top: -8px;
    left: 14px;
    background-position:0 0;
    display:block;
}

.tank[data-flare-frame='5'] .flare { background-position:-64px 0; }
.tank[data-flare-frame='4'] .flare { background-position:-46px 0; }
.tank[data-flare-frame='3'] .flare { background-position:-30px 0; }
.tank[data-flare-frame='2'] .flare { background-position:-15px 0; }
.tank[data-flare-frame='1'] .flare { background-position:-1px 0; }
.tank[data-flare-frame='0'] .flare { display:none; }

.kills {	
    display: block;
    height: 3px;
    left: -20px;
    position: absolute;
    top: -26px;
}

.lifeBar {
    border: 1px solid #888;
    display: block;
    height: 3px;
    left: -20px;
    position: absolute;
    top: -10px;
    /*width: 30px;*/
}

.lifeBar div {
    background-color: lightgreen;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.heatBar {
    border: 1px solid #888;
    display: block;
    height: 3px;
    left: -20px;
    position: absolute;
    top: -16px;
    /*width: 30px;*/
}

.heatBar div {
    background-color: orange;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

/* == LARGE TANK ============================================== */

.large-tank .tankBody {	
	width:34px;
	height:33px;
}

.large-tank[data-track-frame='0'] .tankBody {
	background-image:url(/images/large_tank_01.png);
}

.large-tank[data-track-frame='1'] .tankBody {
	background-image:url(/images/large_tank_02.png);
}

/* == MEDIUM TANK ============================================== */

.medium-tank .tankBody {	
	width:23px;
	height:30px;
}

.medium-tank .flare {
    left: 7px;
}

.medium-tank[data-track-frame='0'] .tankBody {
	background-image:url(/images/medium_tank_01.png);
}

.medium-tank[data-track-frame='1'] .tankBody {
	background-image:url(/images/medium_tank_02.png);
}

/* == SMALL TANK ============================================== */

.small-tank .tankBody {	
	width:25px;
	height:24px;
}

.small-tank .flare {
    left: 9px;
}

.small-tank[data-track-frame='0'] .tankBody {
	background-image:url(/images/small_tank_01.png);
}

.small-tank[data-track-frame='1'] .tankBody {
	background-image:url(/images/small_tank_02.png);
}

/* == SPECIAL TANK ============================================== */

.special-tank .tankBody {	
	width:29px;
	height:31px;
}

.special-tank .flare {
	display:none
}

.special-tank[data-track-frame='0'] .tankBody {
	background-image:url(/images/special_tank_01.png);
}

.special-tank[data-track-frame='1'] .tankBody {
	background-image:url(/images/special_tank_02.png);
}

/* BULLET ============================================== */
	
.bullet {
	position:absolute;
	background-color:black;
	display:block;
}

/* LIFE ============================================== */
	
.life {
	background-image:url(/images/heart.png);
	position:absolute;
	width:16px;
	height:16px;
	display:block;
}

/* EXPLOSION ============================================== */

.explosion {
	position:absolute;
	background-image:url(/images/explosions.png);
	margin-top:-13px;
	margin-left:-13px;
	width:26px;
	height:26px;
	z-index:3;
}

.explosion[data-frame='20'] { background-position:20px 0;}
.explosion[data-frame='18'] { background-position:-29px 0;}
.explosion[data-frame='16'] { background-position:-57px 0;}
.explosion[data-frame='14'] { background-position:-83px 0;}
.explosion[data-frame='12'] { background-position:-117px 0;}
.explosion[data-frame='10'] { background-position:-151px 0;}
.explosion[data-frame='8'] { background-position:-185px 0;}
.explosion[data-frame='6'] { background-position:-218px 0;}
.explosion[data-frame='4'] { background-position:-214px 0;}
.explosion[data-frame='2'] { background-position:-236px 0;}

/* BARRIER ============================================== */

.barrier {
	background-image:url(/images/barrier-sprite.png);
	position:absolute;
	width:40px;
	height:40px;
	border:solid 1px #777;	
	background-color:#ccc;
	display:block;
}

.barrier[data-frame='0'] { background-position:-135px 0;}
.barrier[data-frame='1'] { background-position:-90px 0;}
.barrier[data-frame='2'] { background-position:-45px 0;}

