@font-face {
  font-family: 'Major Shift';
  src: url('/css/major_shift.ttf');
}

h2, h3, h4 {
	text-align:center;
}

h1, h2 {
	font-family:"Major Shift";
	color:#fff;
}

h1 {
	position: absolute;
	top: 20px;
	left: 250px;
	font-size:40px;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; 
}

h2 {
	font-size:22px;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  	
}

body { 
	background:#c0aa96;
  background: url(/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
	height:100%;
}

.dl-horizontal dt {
	width:90px;
}

.dl-horizontal dd {
	margin-left:110px;
}


article {
	text-align:center;
}

hr {
	border-color:#786451;
	border-style: solid none none;
    border-width: 1px medium medium;
    margin:10px 0;
    background-color:#fff;
}

header {
	background-color:#fff;
	height:60px;
}

#main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

footer, .push {
	height:40px;	
}

footer {
	color:#fff;
}

#wrapper {
	padding-top:20px;
	border-top: solid 1px #AC8E73;
}

#game-wrapper {
	position:relative;
	background-color:#c0aa96;
	height:480px;
	width:770px;
	border: solid 1px #786451;
}

#game-wrapper article {
	background-color:#c0aa96;		
}

.no-badge {
	padding-left: 9px;
	padding-right: 9px;	
}



/* TANK SELECTION ============================================== */

.progress {
	margin-bottom:0;
	display:inline-block;
	
}

.tankOption button {
	margin-left:30px;
}

/* TANK ============================================== */

.tank {
	position:absolute;
	width:34px;
	height:34px;
	display:block;
	font-size: 8px;
	z-index:2;
}

.flare {
	display:none;
}
	
.flare {
	background-image:url(/img/flare.png);
	display:block;
    width: 6px;
	height: 7px;
    position: absolute;
    top: -8px;
    left: 14px;
    background-position:0 0;
    display:block;
}

.tank[data-flare-frame='5'] .flare { background-position:-64px 0; }
.tank[data-flare-frame='4'] .flare { background-position:-46px 0; }
.tank[data-flare-frame='3'] .flare { background-position:-30px 0; }
.tank[data-flare-frame='2'] .flare { background-position:-15px 0; }
.tank[data-flare-frame='1'] .flare { background-position:-1px 0; }
.tank[data-flare-frame='0'] .flare { display:none; }

.kills {	
    display: block;
    height: 3px;
    left: -20px;
    position: absolute;
    top: -30px;
}

.progress {
    border: 1px solid #888;
	height:3px;
}

#game .lifeBar {
    left: -20px;
    position: absolute;
    top: -10px;
}
.lifeBar .bar {
	background-image: linear-gradient(to bottom, lightgreen, #57a957)
}

.heatBar .bar {
	background-image: linear-gradient(to bottom, orange, #f89406)
}

#game .heatBar {
    left: -20px;
    position: absolute;
    top: -16px;
}


/* == LARGE TANK ============================================== */

.large-tank .tankBody {	
	width:34px;
	height:33px;
}

.large-tank[data-track-frame='0'] .tankBody {
	background-image:url(/img/large_tank_01.png);
}

.large-tank[data-track-frame='1'] .tankBody {
	background-image:url(/img/large_tank_02.png);
}

/* == MEDIUM TANK ============================================== */

.medium-tank .tankBody {	
	width:23px;
	height:30px;
}

.medium-tank .flare {
    left: 7px;
}

.medium-tank[data-track-frame='0'] .tankBody {
	background-image:url(/img/medium_tank_01.png);
}

.medium-tank[data-track-frame='1'] .tankBody {
	background-image:url(/img/medium_tank_02.png);
}

/* == SMALL TANK ============================================== */

.small-tank .tankBody {	
	width:25px;
	height:24px;
}

.small-tank .flare {
    left: 9px;
}

.small-tank[data-track-frame='0'] .tankBody {
	background-image:url(/img/small_tank_01.png);
}

.small-tank[data-track-frame='1'] .tankBody {
	background-image:url(/img/small_tank_02.png);
}

/* == SPECIAL TANK ============================================== */

.special-tank .tankBody {	
	width:29px;
	height:31px;
}

.special-tank .flare {
	display:none
}

.special-tank[data-track-frame='0'] .tankBody {
	background-image:url(/img/special_tank_01.png);
}

.special-tank[data-track-frame='1'] .tankBody {
	background-image:url(/img/special_tank_02.png);
}

/* BULLET ============================================== */
	
.bullet {
	position:absolute;
	background-color:black;
	display:block;
}

/* LIFE ============================================== */
	
.life {
	background-image:url(/img/heart.png);
	position:absolute;
	width:16px;
	height:16px;
	display:block;
}

/* EXPLOSION ============================================== */

.explosion {
	position:absolute;
	background-image:url(/img/explosions.png);
	margin-top:-13px;
	margin-left:-13px;
	width:26px;
	height:26px;
	z-index:3;
}

.explosion[data-frame='20'] { background-position:20px 0;}
.explosion[data-frame='18'] { background-position:-29px 0;}
.explosion[data-frame='16'] { background-position:-57px 0;}
.explosion[data-frame='14'] { background-position:-83px 0;}
.explosion[data-frame='12'] { background-position:-117px 0;}
.explosion[data-frame='10'] { background-position:-151px 0;}
.explosion[data-frame='8'] { background-position:-185px 0;}
.explosion[data-frame='6'] { background-position:-218px 0;}
.explosion[data-frame='4'] { background-position:-214px 0;}
.explosion[data-frame='2'] { background-position:-236px 0;}

/* BARRIER ============================================== */

.barrier {
	background-image:url(/img/barrier-sprite.png);
	position:absolute;
	width:40px;
	height:40px;
	background-color:#ccc;
	display:block;
}

.barrier[data-frame='0'] { background-position:-135px 0;}
.barrier[data-frame='1'] { background-position:-90px 0;}
.barrier[data-frame='2'] { background-position:-45px 0;}

