<section id="tankSelection">
	<h2>Select your tank</h2>
	<% _.each(tanks, function(tank, i) { %>
	<article class="tankOption">
		<h4><%= tank.variant %></h4>
		<div class="tankPreview">
		
			<div class="<%= tank.variant %> tank" data-track-frame="0">
				<div class="tankBody">
					<div class="flare"></div>
				</div>
			</div>
		
		</div>
		<dl>
			<dt>Speed:</dt>
				<dd><%= tank.fv %></dd>
			<dt>Armour:</dt>
				<dd><%= tank.maxLife %></dd>
			<dt>Fire Rate:</dt>
				<dd><%= tank.maxHeat %></dd>
			<dt>Size:</dt>
				<dd><%= tank.w %> x <%= tank.h %></dd>

			<h5>Weaponry</h5>

			<dt>Range:</dt>
				<dd><%= tank.weapon.r %></dd>
			<dt>Damage:</dt>
				<dd><%= tank.weapon.d %></dd>
			<dt>Speed:</dt>
				<dd><%= tank.weapon.v %></dd>
		</dl>
		<button data-variant="<%= tank.variant %>" class="select">Play</button>
	</article>
	<% }) %>
</section>